.filterContainer {
  background: var(--white);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.filterTitle {
    font-style: italic;
}