.contListBox {
  background: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 5px;
}

.contListItem {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.itemName {
  font-size: 18px;
}